<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cтатистика обработки</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<form th:action="@{/}" method="get">
    <button type="submit" class="btn">Обратно</button>
</form>
<body>
<h1>📊 Паспорта</h1>
<table>
    <thead>
    <tr>
        <th>Название документа</th>
        <th>Количество</th>
        <th>Дата обработки</th>
        <th>Начало обработки</th>
        <th>Конец работы</th>
        <th>Продолжительность обработки (с)</th>
        <th>Статус</th>
        <th>Ошибки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stat : ${stats}">
        <td th:text="${stat.title}">ВВЭК</td>
        <td th:text="${stat.countDoc}">10</td>
        <td th:text="${#temporals.format(stat.date, 'dd.MM.yyyy')}">24.09.2025</td>
        <td th:text="${#temporals.format(stat.startTime, 'HH:mm:ss')}">10:30:00</td>
        <td th:text="${#temporals.format(stat.endTime, 'HH:mm:ss')}">10:30:05</td>
        <td th:text="${stat.durationHandler}">5000</td>
        <td th:text="${stat.status}">SUCCESS</td>
        <td th:text="${stat.errorMessage}">-</td>
    </tr>
    </tbody>
</table>
</body>
</html>
